
.DS_Store
*.xml
Warm_Up_with_Objects/.idea/vcs.xml
.DS_Store
Yates' Big File Sorter/Yates' Big File Sorter.iml
Yates' Big File Sorter/out/production/Yates' Big File Sorter/Aesop_Shakespeare_Shelley_Twain.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_1_0.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_0.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_1.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_10.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_11.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_12.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_13.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_14.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_15.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_16.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_17.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_18.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_19.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_2.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_3.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_4.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_5.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_6.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_7.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_8.txt
Yates' Big File Sorter/out/production/Yates' Big File Sorter/temp_0_9.txt
Yates' Big File Sorter/src/temp_0_8.txt
Yates' Big File Sorter/src/temp_0_0.txt
Yates' Big File Sorter/src/temp_0_1.txt
Yates' Big File Sorter/src/temp_0_10.txt
Yates' Big File Sorter/src/temp_0_11.txt
Yates' Big File Sorter/src/temp_0_12.txt
Yates' Big File Sorter/src/temp_0_13.txt
Yates' Big File Sorter/src/temp_0_14.txt
Yates' Big File Sorter/src/temp_0_15.txt
Yates' Big File Sorter/src/temp_0_16.txt
Yates' Big File Sorter/src/temp_0_17.txt
Yates' Big File Sorter/src/temp_0_18.txt
Yates' Big File Sorter/src/temp_0_19.txt
Yates' Big File Sorter/src/temp_0_2.txt
Yates' Big File Sorter/src/temp_0_3.txt
Yates' Big File Sorter/src/temp_0_4.txt
Yates' Big File Sorter/src/temp_0_5.txt
Yates' Big File Sorter/src/temp_0_6.txt
Yates' Big File Sorter/src/temp_0_7.txt
Yates' Big File Sorter/src/temp_0_9.txt
Yates' Big File Sorter/src/temp_1_0.txt
